
<td class="col-5 py-3"><app-my-buttons button="Add New Course"  ></app-my-buttons></td>

<table class="table table-striped text-center ">
    <thead class="table-secondary" >
        <tr >
            <th>Sr.No.</th>
            <th >Course Name</th>
            <th>Duration</th>
            <th>Fees</th>
            <th>Update</th>
            <th>Delete</th>         
        </tr>
    </thead>
    <tbody >
        <tr>
            <td>1</td>
            <td >SSC</td>
            
            <td>1 year</td>
            <td>40000</td>
            <td class="col-2 "> <button type="button" class="btn btn-secondary">
                <i class="bi bi-pencil-square"></i> Update
              </button></td>
            <td class="col-2 "> <button type="button" class="btn btn-danger">
                <i class="bi bi-trash"></i> Delete
              </button></td>
        </tr>
        <tr>
            <td>1</td>
            <td >HSC</td>
            
            <td>1 Year</td>
            <td>60000</td>
            <td class="col-2 "> <button type="button" class="btn btn-secondary">
                <i class="bi bi-pencil-square"></i> Update
              </button></td>
            <td class="col-2 "> <button type="button" class="btn btn-danger">
                <i class="bi bi-trash"></i> Delete
              </button></td>
        </tr>
        <tr>
            <td>1</td>
            <td >HTML</td>
            
            <td>50 days</td>
            <td>4000</td>
            <td class="col-2 "> <button type="button" class="btn btn-secondary">
                <i class="bi bi-pencil-square"></i> Update
              </button></td>
            <td class="col-2 "> <button type="button" class="btn btn-danger">
                <i class="bi bi-trash"></i> Delete
              </button></td>
        </tr>
        <tr>
            <td>2</td>
            <td >CSS</td>
            
            <td>50 days</td>
            <td>4000</td>
            <td class="col-2 "><button class="btn btn-secondary"> <i class="bi bi-pencil-square"></i> Update</button></td>
            <td class="col-2 "><button class="btn btn-danger">  <i class="bi bi-trash"></i> Delete</button></td>
        </tr>
       

    </tbody>
</table> 

