

<table class="table table-striped text-center ">
    <thead class="table-secondary" >
        <tr >
            <th>Sr.No.</th>
            <th >Course Name</th>
            <th>Course Lecutrer</th>
            <th>Other</th>         
        </tr>
    </thead>
    <tbody >
        <tr>
            <td>1</td>
            <td >HTML</td>
            
            <td>Ganesh SAble</td>
            <td class="col-2"><app-my-buttons button="View More!" ></app-my-buttons></td>
        </tr>
        <tr>
            <td>2</td>
            <td >CSS</td>
            
            <td>Raju Chandrashekhar</td>
            <td class="col-2" ><app-my-buttons button="View More!" ></app-my-buttons></td>
        </tr>
        <tr>
            <td>1</td>
            <td >JavaScript</td>
            
            <td>Aman Kamble</td>
            <td class="col-2" ><app-my-buttons button="View More!" ></app-my-buttons></td>
        </tr>
        <tr>
            <td>4</td>
            <td >Project</td>
            
            <td>Vaibhav Chandrashekhar</td>
            <td class="col-2" ><app-my-buttons button="View More!" ></app-my-buttons></td>
        </tr>

    </tbody>
</table> 

