

<div class="col-3 ">

    <div class="dropdown d-flex">
        <button  class="btn bg-clr text-white dropdown-toggle" type="button" id="filterDropdown"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Filter Users
        </button>
        <div  id="role"  class="dropdown-menu" aria-labelledby="filterDropdown" >
            <a class="dropdown-item"  [routerLink]="'./allUsers'">All Users</a>
            <a class="dropdown-item" [routerLink]="'./adminList'" >Admin</a>
            <a class="dropdown-item" [routerLink]="'./studentList'" >Student</a>
            <a class="dropdown-item" [routerLink]="'./teachersList'" >Teacher</a>
            <a class="dropdown-item"  >Faculty</a>
            <a class="dropdown-item" >Guest</a>
        </div>

    </div>
</div>


<div class="container ">

        <router-outlet></router-outlet>
  



    <!-- =========================PAGINATION=========================================== -->




    <div class="container  mt-4">
        <nav aria-label="Page navigation d-flex justify-content-left">
            <ul class="pagination justify-content-start me-auto   ">
                <li class="page-item ">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">Privious &laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">Next &raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>