<div class="container-fluid down-from-header height">
    <h4 class="bg-clr text-white ">Our Achievement</h4>
    <div class="container d-flex justify-content-around">
        <div class="row">

            <div class=" col-lg-4 col-md-5 my-3 col-sm-10 ">
    
                <div class="card shadow" >
                    <img src="assets\JEE Mains.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title fw-bold clr">Success in JEE Mains 2023</h5>
                        <p class="card-text text-muted">Five candidates selected from Scholor's Academy in NEET 2023</p>
                    </div>
                </div>
            </div>
    
            <div class=" col-lg-4 col-md-5 my-3 col-sm-10 ">
    
                <div class="card shadow" >
                    <img src="assets\JEE Mains.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title fw-bold clr">Success in JEE Mains 2023</h5>
                        <p class="card-text text-muted">Five candidates selected from Scholor's Academy in NEET 2023</p>
                    </div>
                </div>
            </div>
    
    
            <div class=" col-lg-4 col-md-5 my-3 col-sm-10 ">
    
                <div class="card shadow" >
                    <img src="assets\Saloni.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title fw-bold clr">Saloni Got Selected</h5>
                        <p class="card-text text-muted">Five candidates selected from Scholor's Academy in NEET 2023</p>
                    </div>
                </div>
            </div>
        </div>



    </div>



</div>