<div class="container py-3">
  <div class="row" >
    <!-- Card 1 -->
   
    <div class="col-lg-4 col-sm-10 col-md-5 my-2" *ngFor="let item of response">
      <div class="card text-center ">
        <img src="https://d3lzcn6mbbadaf.cloudfront.net/media/details/msbshse_july28.jpg" class="card-img-top img-thumbnail " alt="Image 1">
        <div class="card-body">
          <h5 class="card-title fw-bolder clr">{{item.course_name}}</h5>
          <p class="card-text">Course Duration: {{item.course_duration}}</p>
          <h4 class="card-text fw-bold text-primary">Course Fees: {{item.course_fees}}</h4>
          <p class="card-text">Get Notes And video Lecture click on the Get Details button</p>
          <a href="#" class="btn bg-clr text-white" [routerLink]="'../notes'">Buy Now!</a>
        </div>
      </div>
    </div>

   


    

  </div>




</div>
  




