<div class="container-fluid   down-from-header height p-3 ">
    <div class="container">
        <div class="row d-flex justify-content-around align-middle py-4   ">
            <div class="col-lg-5 col-sm-10 py-3 ">
                <div class="rounded h-80 shadow mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                      <div class="col-md-4 ">
                        <img src="assets\phophale sir.jpg" class="img-fluid rounded-start " alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title clr fw-bold">Prof. Vijay Pophale</h5>
                          <p class=" text-muted">Director: Scholor's Academy and Professor for Physics </p>
                          <p ><small class="card-text fw-bold">Contact Number: 9689766884</small></p>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>

            <div class="col-lg-5 col-sm-10 py-3">
                <div class="rounded h-80 shadow mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="assets\solankeSir.jpg" class="img-fluid rounded-start" alt="Image">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title clr fw-bolder">Prof. Ashish Solanke</h5>
                          <p class="text-muted">Co-Ordinator: Scholor's Academy and Professor for Physics </p>
                          <p ><small class="card-text fw-bold">Contact Number: 9689766884</small></p>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>