
<div class="row  mx-auto container shadow down-from-header "id="registrationForm">
    <!-- <div class="col-3">
        <div class="card text-center">
            <div class="card-img-top">
                <img src="assets\atchivement.jpg" class="img-fluid" alt="">
            </div>
            <div class="title">
                    <h4>Education is the most powerful weapon to change the world</h4>
            </div>
        </div>
    </div> -->
    
   
        
          <h2 class="mb-4 h3 text-center p-1 bg-clr text-light rounded fw-bolder">Registration Form</h2>

      
        
          <form >
            <div class="row   ">
              <!-- First Column -->
              <div class="col-md-6">
  
                <div class="mb-3">
                  <label for="firstName" class="form-label">First Name</label>
                  <input type="text" class="form-control" id="firstName" formControlName="firstName" name="firstName" required>
                </div>
               
                <div class="mb-3">
                  <label for="last_name" class="form-label">Last Name</label>
                  <input type="text" class="form-control" id="last_name" name="last_name" formControlName="last_name" required>
                </div>
  
                <div class="mb-3 d-flex justify-content-between">
                  <label class="form-label">Gender</label>
                  <div>
                    <input type="radio" id="male" name="gender" value="male" formControlName="gender">
                    <label for="male" >Male</label>
                  </div>
                  <div>
                    <input type="radio" id="female" name="gender" value="female"  formControlName="gender">
                    <label for="female">Female</label>
                  </div>
                  <div>
                    <input type="radio" id="other" name="gender" value="other"  formControlName="gender">
                    <label for="other">Other</label>
                  </div>
                </div>
  
  
                <div class="mb-3">
                  <label for="dob" class="form-label">Date Of Birth</label>
                  <input type="date" class="form-control" formControlName="dob" id="dob" name="dob" required>
                </div>
  
  
                <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input type="email" class="form-control" id="email" name="email" required>
                </div>
  
  
                <div class="mb-3">
                  <label for="contact" class="form-label">Contact</label>
                  <input type="tel" class="form-control" id="contact" name="contact" required>
                </div>
  
                
                
                
              </div>
              
              <!-- Second Column -->
              
              <div class="col-md-6">
              <div class="mb-3">
                <label for="address" class="form-label py-1">Address</label>
                <textarea class="form-control" id="address" name="address" rows="2" required></textarea>
              </div>
                  
                <div class="mb-3">
                  <label for="qualification" class="form-label">Qualification</label>
                  <input type="text" class="form-control" id="qualification" name="qualification" required>
                </div>
  
                <div class="mb-3">
                  <label for="percentageLastExam" class="form-label">Passing Year</label>
                  <input type="number" class="form-control" id="percentageLastExam" name="percentageLastExam" required>
                </div> 
  
                <div class="mb-3">
                  <label for="caste_category" class="form-label">Caste Cagtegory</label>
                  <input type="text" class="form-control" id="caste_category" name="caste_category" required>
                </div>
  
                
                <div class="mb-3">
                  <label for="subcaste" class="form-label">Sub-Caste</label>
                  <input type="text" class="form-control" id="subcaste" name="subcaste" required>
                </div>
  
  
  
              
                <!-- Online Payment Link -->
                <!-- <div class="mb-3">
                  <label class="form-label">Pay Fees Online</label>
                  <a href="https://example.com/payment" target="_blank">Click here to pay fees online</a>
                </div> --> 
            
              </div>
              <!-- Buttons -->
                 <div class="container col-12 col-lg-6 col-md-12 d-flex justify-content-around">
                
                  <button class="btn btn-secondary  col-12 my-2  col-md-12 col-lg-5  ">Reset</button>
                    <button class="btn btn-success col-12 my-2  col-md-12 col-lg-5 " [routerLink]="''">Submit</button>
                    
                </div>
            
              
            </div>
            
            
            
            
            
          </form>
    
    
  </div>
  <router-outlet></router-outlet>