<header class="shadow mb-3 container-fluid fixed-top  px-4 bg-white ">
    <div class="row  ">
        <p class="h6 text-center text-danger my-0 light-bg py-1 rounded">Call Now to Course Inquiry: 8693017064 </p>
    </div>
        <nav class="navbar navbar-expand-lg navbar-custom p-0">
            <a class="navbar-brand" href="#">
                <img src="assets\Logo.jpg" alt="Logo" class="img-fluid" style="max-height: 70px;">

            </a> 
            <h1 id="heading" class="h3 fw-bolder clr text-shadow ">Scholar's Academy</h1>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav ">
                    <li class="nav-item">
                        <a class="nav-link" href="">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="'about'">About</a>
                    </li>
                  
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="'contact'">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" *ngIf="proImg=='true'"  (click)="signout()">Sign Out</a>
                    </li>
                   
                   
                </ul>

            </div>
            <div >
                <a id="proImage" *ngIf="proImg=='true'" class="nav-link" href=""><img src="../../assets/Photo.jpg" class="img-fluid pro-image" alt=""></a>
               
            </div>
                   
        </nav>
   
</header>