<div class="container-fluid down-from-header">
    <div class="container height">
        <div class="row">
            <div class="row d-flex align-middle justify-content-around g-4">
                <div class="col  ">
                    <div class="card shadow h-100">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbfDGETSRe3i6_Js_ekW41Nb6ClHnnJbQqJ2Q7XEWDajYBEoxuo0GqY_VTS4tkPq1cePE&usqp=CAU"
                            style="height: 120px;" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title clr fw-bold text-center">PHYSICS</h5>
                            <div class="d-grid">
                                <button type="button" class="btn bg-clr text-white mx-auto" data-toggle="modal"
                                    data-target="#physics">
                                    Show Faculty
                                </button>
                            </div>
                        </div>
                    </div>
                </div>



                <!-- Chemistry -->
                <div class="col">
                    <div class="card shadow h-100">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5fn1T_7JmqQR7AqYmZSZIGNN0nvM6cb7M6JOhbrjGZkt4TZ54Z1DEIDXMgg&s"
                            style="height: 120px;" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title clr fw-bold text-center">CHEMISTRY</h5>
                            <div class="d-grid">
                                <button type="button" class="btn bg-clr text-white mx-auto" data-toggle="modal"
                                    data-target="#chemistry">
                                    Show Faculty
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- mATHEMATICS -->
                <div class="col">
                    <div class="card shadow h-100">
                        <img src="https://media.istockphoto.com/id/1219382595/vector/math-equations-written-on-a-blackboard.jpg?s=612x612&w=0&k=20&c=ShVWsMm2SNCNcIjuWGtpft0kYh5iokCzu0aHPC2fV4A="
                            style="height: 120px;" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title clr fw-bold text-center">MATHEMATICS</h5>
                            <div class="d-grid">
                                <button type="button" class="btn bg-clr text-white mx-auto" data-toggle="modal"
                                    data-target="#math">
                                    Show Faculty
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- BIOLOGY -->
                <div class="col">
                    <div class="card shadow h-100">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTXVRy81pLoEQ41GOuoPl_pc2OYlWp3MY2SF8j3m8tebA&s"
                            style="height: 120px;" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title clr fw-bold text-center">BIOLOGY</h5>
                            <div class="d-grid">
                                <button type="button" class="btn bg-clr text-white mx-auto" data-toggle="modal"
                                    data-target="#biology">
                                    Show Faculty
                                </button>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- CO-ORDINATOR -->
                <div class="col">
                    <div class="card h-100 shadow">
                        <img src="https://www.emdesk.com/assets/images/blog-academy/2020/_teaser_blogpost/webinar-horizon-2020-project-coordinator.jpg"
                            style="height: 120px;" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title clr fw-bold text-center">CO-ORDINATOR</h5>

                            <div class="d-grid">
                                <button type="button" class="btn bg-clr text-white mx-auto" data-toggle="modal"
                                    data-target="#co-ordinator">
                                    Show Faculty
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>




<!-- /////////////////////////////////MODAL //////////////////////////////// -->










<!-- //////////////////////////////////////////////////////// -->
<!-- Modal One PHYSICS-->
<div class="modal  fade " id="physics">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content ">
            <div class="modal-header">

                <h5 class="modal-title bg-clr px-2 rounded text-white fw-bold" id="physics">PHYSICS rofessors
                </h5>
                <button type="button" class="close btn btn-danger" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body ">
                <!-- row 1 -->
                <div class="row my-3 d-flex flex-wrap justify-content-around">

                    <!-- faculty 1 -->
                    <div
                        class="card-deck p-0 m-0 col-lg-5 col-sm-10 d-flex flex-wrap justify-content-start border border-2">
                        <div class="col-md-4  ">
                            <img src="assets\phophale sir.jpg" style="width: 150px;" class="img-fluid rounded-start "
                                alt="...">
                        </div>
                        <div class="col bg-light">
                            <div class="card-body  d-flex flex-column">
                                <h5 class=" clr fw-bold">Prof. Vijay Pophale</h5>
                                <p class="  text-secondary fw-bold">Experience: 10 years </p>
                                <p><small class=" fw-bold">Contact: 9689766884</small></p>
                            </div>
                        </div>

                    </div>
                    <!-- faculty 2 -->

                    <div
                        class="card-deck p-0 m-0 col-lg-5 col-sm-10 d-flex flex-wrap justify-content-start border border-2">
                        <div class="col-md-4  ">
                            <img src="assets\solankeSir.jpg" style="width: 150px;" class="img-fluid rounded-start "
                                alt="...">
                        </div>
                        <div class="col bg-light">
                            <div class="card-body d-flex flex-column">
                                <h5 class=" clr fw-bold">Prof. Vijay Pophale</h5>
                                <p class="  text-secondary fw-bold">Experience: 10 years </p>
                                <p><small class=" fw-bold">Contact: 9689766884</small></p>
                            </div>
                        </div>

                    </div>





                </div>
                <!-- row 2  -->
                <div class="row my-3 d-flex flex-wrap justify-content-around">

                    <!-- faculty 3 -->
                    <div
                        class="card-deck p-0 m-0 col-lg-5 col-sm-10 d-flex flex-wrap justify-content-start border border-2">
                        <div class="col-md-4  ">
                            <img src="assets\phophale sir.jpg" style="width: 150px;" class="img-fluid rounded-start "
                                alt="...">
                        </div>
                        <div class="col bg-light">
                            <div class="card-body  d-flex flex-column">
                                <h5 class=" clr fw-bold">Prof. Muley</h5>
                                <p class="  text-secondary fw-bold">Experience: 10 years </p>
                                <p><small class=" fw-bold">Contact: 9689766884</small></p>
                            </div>
                        </div>

                    </div>
                    <!-- faculty 4 -->

                    <div
                        class="card-deck p-0 m-0 col-lg-5 col-sm-10 d-flex flex-wrap justify-content-start border border-2">
                        <div class="col-md-4  ">
                            <img src="assets\solankeSir.jpg" style="width: 150px;" class="img-fluid rounded-start "
                                alt="...">
                        </div>
                        <div class="col bg-light">
                            <div class="card-body d-flex flex-column">
                                <h5 class=" clr fw-bold">Prof. Ashish Solanke</h5>
                                <p class="  text-secondary fw-bold">Experience: 10 years </p>
                                <p><small class=" fw-bold">Contact: 9689766884</small></p>
                            </div>
                        </div>

                    </div>





                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->



<!-- Modal two CHEMISTRY -->
<div class="modal  fade " id="chemistry" role="dialog" aria-labelledby="modal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content ">
            <div class="modal-header">

                <h5 class="modal-title bg-clr px-2 rounded text-white fw-bold" id="chemistry">CHEMISTRY Professors
                </h5>
                <button type="button" class="close btn btn-danger" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body ">
                <!-- row 1 -->
                <div class="row my-3 d-flex flex-wrap justify-content-around">

                    <!-- faculty 1 -->
                    <div
                        class="card-deck p-0 m-0 col-lg-5 col-sm-10 d-flex flex-wrap justify-content-start border border-2">
                        <div class="col-md-4  ">
                            <img src="assets\phophale sir.jpg" style="width: 150px;" class="img-fluid rounded-start "
                                alt="...">
                        </div>
                        <div class="col bg-light">
                            <div class="card-body  d-flex flex-column">
                                <h5 class=" clr fw-bold">Prof. Deshmukh </h5>
                                <p class="  text-secondary fw-bold">Experience: 10 years </p>
                                <p><small class=" fw-bold">Contact: 9689766884</small></p>
                            </div>
                        </div>

                    </div>
                    <!-- faculty 2 -->

                    <div
                        class="card-deck p-0 m-0 col-lg-5 col-sm-10 d-flex flex-wrap justify-content-start border border-2">
                        <div class="col-md-4  ">
                            <img src="assets\solankeSir.jpg" style="width: 150px;" class="img-fluid rounded-start "
                                alt="...">
                        </div>
                        <div class="col bg-light">
                            <div class="card-body d-flex flex-column">
                                <h5 class=" clr fw-bold">Prof. Kirtankar </h5>
                                <p class="  text-secondary fw-bold">Experience: 10 years </p>
                                <p><small class=" fw-bold">Contact: 9689766884</small></p>
                            </div>
                        </div>

                    </div>





                </div>
                <!-- row 2  -->
                <div class="row my-3 d-flex flex-wrap justify-content-around">

                    <!-- faculty 3 -->
                    <div
                        class="card-deck p-0 m-0 col-lg-5 col-sm-10 d-flex flex-wrap justify-content-start border border-2">
                        <div class="col-md-4  ">
                            <img src="assets\phophale sir.jpg" style="width: 150px;" class="img-fluid rounded-start "
                                alt="...">
                        </div>
                        <div class="col bg-light">
                            <div class="card-body  d-flex flex-column">
                                <h5 class=" clr fw-bold">Prof. Yamin Mam</h5>
                                <p class="  text-secondary fw-bold">Experience: 10 years </p>
                                <p><small class=" fw-bold">Contact: 9689766884</small></p>
                            </div>
                        </div>

                    </div>
                    <!-- faculty 4 -->

                    <div
                        class="card-deck p-0 m-0 col-lg-5 col-sm-10 d-flex flex-wrap justify-content-start border border-2">
                        <div class="col-md-4  ">
                            <img src="assets\solankeSir.jpg" style="width: 150px;" class="img-fluid rounded-start "
                                alt="...">
                        </div>
                        <div class="col bg-light">
                            <div class="card-body d-flex flex-column">
                                <h5 class=" clr fw-bold">Prof._______________</h5>
                                <p class="  text-secondary fw-bold">Experience: 10 years </p>
                                <p><small class=" fw-bold">Contact: 9689766884</small></p>
                            </div>
                        </div>

                    </div>





                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>



    <!-- //////////////////////////////////////////////////////////////////////////////////////////////////// -->



    <!-- Modal  MATHEMATICS -->
    <div class="modal  fade " id="math" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content ">
                <div class="modal-header">

                    <h5 class="modal-title bg-clr px-2 rounded text-white fw-bold" id="math">MATHEMATICS Professors
                    </h5>
                    <button type="button" class="close btn btn-danger" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body ">
                    <!-- row 1 -->
                    <div class="row my-3 d-flex flex-wrap justify-content-around">

                        <!-- faculty 1 -->
                        <div
                            class="card-deck p-0 m-0 col-lg-5 col-sm-10 d-flex flex-wrap justify-content-start border border-2">
                            <div class="col-md-4  ">
                                <img src="assets\phophale sir.jpg" style="width: 150px;"
                                    class="img-fluid rounded-start " alt="...">
                            </div>
                            <div class="col bg-light">
                                <div class="card-body  d-flex flex-column">
                                    <h5 class=" clr fw-bold">Prof. Chavhan Mam</h5>
                                    <p class="  text-secondary fw-bold">Experience: 10 years </p>
                                    <p><small class=" fw-bold">Contact: 9689766884</small></p>
                                </div>
                            </div>

                        </div>
                        <!-- faculty 2 -->

                        <div
                            class="card-deck p-0 m-0 col-lg-5 col-sm-10 d-flex flex-wrap justify-content-start border border-2">
                            <div class="col-md-4  ">
                                <img src="assets\solankeSir.jpg" style="width: 150px;" class="img-fluid rounded-start "
                                    alt="...">
                            </div>
                            <div class="col bg-light">
                                <div class="card-body d-flex flex-column">
                                    <h5 class=" clr fw-bold">Prof. Wankhede</h5>
                                    <p class="  text-secondary fw-bold">Experience: 10 years </p>
                                    <p><small class=" fw-bold">Contact: 9689766884</small></p>
                                </div>
                            </div>

                        </div>





                    </div>
                    <!-- row 2  -->
                    <div class="row my-3 d-flex flex-wrap justify-content-around">

                        <!-- faculty 3 -->
                        <div
                            class="card-deck p-0 m-0 col-lg-5 col-sm-10 d-flex flex-wrap justify-content-start border border-2">
                            <div class="col-md-4  ">
                                <img src="assets\phophale sir.jpg" style="width: 150px;"
                                    class="img-fluid rounded-start " alt="...">
                            </div>
                            <div class="col bg-light">
                                <div class="card-body  d-flex flex-column">
                                    <h5 class=" clr fw-bold">Prof. Gawali</h5>
                                    <p class="  text-secondary fw-bold">Experience: 10 years </p>
                                    <p><small class=" fw-bold">Contact: 9689766884</small></p>
                                </div>
                            </div>

                        </div>
                        <!-- faculty 4 -->

                        <div
                            class="card-deck p-0 m-0 col-lg-5 col-sm-10 d-flex flex-wrap justify-content-start border border-2">
                            <div class="col-md-4  ">
                                <img src="assets\solankeSir.jpg" style="width: 150px;" class="img-fluid rounded-start "
                                    alt="...">
                            </div>
                            <div class="col bg-light">
                                <div class="card-body d-flex flex-column">
                                    <h5 class=" clr fw-bold">Prof. _____________</h5>
                                    <p class="  text-secondary fw-bold">Experience: 10 years </p>
                                    <p><small class=" fw-bold">Contact: 9689766884</small></p>
                                </div>
                            </div>

                        </div>





                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- ///////////////////////////////////////////////////////////////////////////////////////////////// -->



        <!-- Modal BIOLOGY -->
        <div class="modal  fade " id="biology" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content ">
                    <div class="modal-header">

                        <h5 class="modal-title bg-clr px-2 rounded text-white fw-bold" id="biology">BIOLOGY Professors
                        </h5>
                        <button type="button" class="close btn btn-danger" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body ">
                        <!-- row 1 -->
                        <div class="row my-3 d-flex flex-wrap justify-content-around">

                            <!-- faculty 1 -->
                            <div
                                class="card-deck p-0 m-0 col-lg-5 col-sm-10 d-flex flex-wrap justify-content-start border border-2">
                                <div class="col-md-4  ">
                                    <img src="assets\phophale sir.jpg" style="width: 150px;"
                                        class="img-fluid rounded-start " alt="...">
                                </div>
                                <div class="col bg-light">
                                    <div class="card-body  d-flex flex-column">
                                        <h5 class=" clr fw-bold">Prof. Sawilkar </h5>
                                        <p class="  text-secondary fw-bold">Experience: 10 years </p>
                                        <p><small class=" fw-bold">Contact: 9689766884</small></p>
                                    </div>
                                </div>

                            </div>
                            <!-- faculty 2 -->

                            <div
                                class="card-deck p-0 m-0 col-lg-5 col-sm-10 d-flex flex-wrap justify-content-start border border-2">
                                <div class="col-md-4  ">
                                    <img src="assets\solankeSir.jpg" style="width: 150px;"
                                        class="img-fluid rounded-start " alt="...">
                                </div>
                                <div class="col bg-light">
                                    <div class="card-body d-flex flex-column">
                                        <h5 class=" clr fw-bold">Prof. Ambhore</h5>
                                        <p class="  text-secondary fw-bold">Experience: 10 years </p>
                                        <p><small class=" fw-bold">Contact: 9689766884</small></p>
                                    </div>
                                </div>

                            </div>





                        </div>
                        <!-- row 2  -->
                        <div class="row my-3 d-flex flex-wrap justify-content-around">

                            <!-- faculty 3 -->
                            <div
                                class="card-deck p-0 m-0 col-lg-5 col-sm-10 d-flex flex-wrap justify-content-start border border-2">
                                <div class="col-md-4  ">
                                    <img src="assets\phophale sir.jpg" style="width: 150px;"
                                        class="img-fluid rounded-start " alt="...">
                                </div>
                                <div class="col bg-light">
                                    <div class="card-body  d-flex flex-column">
                                        <h5 class=" clr fw-bold">Prof. Lahane</h5>
                                        <p class="  text-secondary fw-bold">Experience: 10 years </p>
                                        <p><small class=" fw-bold">Contact: 9689766884</small></p>
                                    </div>
                                </div>

                            </div>
                            <!-- faculty 4 -->

                            <div
                                class="card-deck p-0 m-0 col-lg-5 col-sm-10 d-flex flex-wrap justify-content-start border border-2">
                                <div class="col-md-4  ">
                                    <img src="assets\solankeSir.jpg" style="width: 150px;"
                                        class="img-fluid rounded-start " alt="...">
                                </div>
                                <div class="col bg-light">
                                    <div class="card-body d-flex flex-column">
                                        <h5 class=" clr fw-bold">Prof. _______________</h5>
                                        <p class="  text-secondary fw-bold">Experience: 10 years </p>
                                        <p><small class=" fw-bold">Contact: 9689766884</small></p>
                                    </div>
                                </div>

                            </div>





                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- /////////////////////////////////////////////////////////////////////////////////////////////////// -->
          <!-- Modal CO-ORDINATOR-->
          <div class="modal  fade " id="co-ordinator" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content ">
                    <div class="modal-header">

                        <h5 class="modal-title bg-clr px-2 rounded text-white fw-bold" id="co-ordinator">CO-ORDINATOR
                        </h5>
                        <button type="button" class="close btn btn-danger" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body ">
                        <!-- row 1 -->
                        <div class="row my-3 d-flex flex-wrap justify-content-around">

                            <!-- faculty 1 -->
                            <div
                                class="card-deck p-0 m-0 col-lg-5 col-sm-10 d-flex flex-wrap justify-content-start border border-2">
                                <div class="col-md-4  ">
                                    <img src="assets\phophale sir.jpg" style="width: 150px;"
                                        class="img-fluid rounded-start " alt="...">
                                </div>
                                <div class="col bg-light">
                                    <div class="card-body  d-flex flex-column">
                                        <h5 class=" clr fw-bold">Prof. Sawilkar </h5>
                                        <p class="  text-secondary fw-bold">Experience: 10 years </p>
                                        <p><small class=" fw-bold">Contact: 9689766884</small></p>
                                    </div>
                                </div>

                            </div>
                            <!-- faculty 2 -->

                            <div
                                class="card-deck p-0 m-0 col-lg-5 col-sm-10 d-flex flex-wrap justify-content-start border border-2">
                                <div class="col-md-4  ">
                                    <img src="assets\solankeSir.jpg" style="width: 150px;"
                                        class="img-fluid rounded-start " alt="...">
                                </div>
                                <div class="col bg-light">
                                    <div class="card-body d-flex flex-column">
                                        <h5 class=" clr fw-bold">Prof. Ambhore</h5>
                                        <p class="  text-secondary fw-bold">Experience: 10 years </p>
                                        <p><small class=" fw-bold">Contact: 9689766884</small></p>
                                    </div>
                                </div>

                            </div>





                        </div>
                        <!-- row 2  -->
                        <div class="row my-3 d-flex flex-wrap justify-content-around">

                            <!-- faculty 3 -->
                            <div
                                class="card-deck p-0 m-0 col-lg-5 col-sm-10 d-flex flex-wrap justify-content-start border border-2">
                                <div class="col-md-4  ">
                                    <img src="assets\phophale sir.jpg" style="width: 150px;"
                                        class="img-fluid rounded-start " alt="...">
                                </div>
                                <div class="col bg-light">
                                    <div class="card-body  d-flex flex-column">
                                        <h5 class=" clr fw-bold">Prof. Lahane</h5>
                                        <p class="  text-secondary fw-bold">Experience: 10 years </p>
                                        <p><small class=" fw-bold">Contact: 9689766884</small></p>
                                    </div>
                                </div>

                            </div>
                            <!-- faculty 4 -->

                            <div
                                class="card-deck p-0 m-0 col-lg-5 col-sm-10 d-flex flex-wrap justify-content-start border border-2">
                                <div class="col-md-4  ">
                                    <img src="assets\solankeSir.jpg" style="width: 150px;"
                                        class="img-fluid rounded-start " alt="...">
                                </div>
                                <div class="col bg-light">
                                    <div class="card-body d-flex flex-column">
                                        <h5 class=" clr fw-bold">Prof. ________________</h5>
                                        <p class="  text-secondary fw-bold">Experience: 10 years </p>
                                        <p><small class=" fw-bold">Contact: 9689766884</small></p>
                                    </div>
                                </div>

                            </div>





                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>