
<div class="container my-3">
    <div class="row">
      <!-- Card 1 -->
      <div class="col-md-4 ">
        <div class="card text-center">
          <img src="https://www.w3.org/html/logo/img/html5-topper.png" class="card-img-top img-thumbnail " alt="Image 1">
          <div class="card-body">
            <h5 class="card-title fw-bolder">HTML</h5>
            <p class="card-text">Get Notes And video Lecture click on the Get Details button</p>
            <a href="#" class="btn btn-primary"[routerLink]="'../notes'">Get Details</a>
          </div>
        </div>
      </div>
  
      <!-- Card 2 -->
      <div class="col-md-4">
        <div class="card text-center  ">
            <img src="https://cdn-icons-png.flaticon.com/512/919/919826.png" class="card-img-top img-thumbnail" alt="Image 1">
            <div class="card-body">
              <h5 class="card-title fw-bolder">CSS</h5>
              <p class="card-text">Get Notes And video Lecture click on the Get Details button</p>
              <a href="#" class="btn btn-primary">Get Details</a>
            </div>
          </div>
      </div>
  
      <!-- Card 3 -->
      <div class="col-md-4">
        <div class="card text-center w-80">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/ba/Javascript_badge.svg/946px-Javascript_badge.svg.png" class="card-img-top img-thumbail" alt="Image 1">
            <div class="card-body">
              <h5 class="card-title fw-bolder">Javascript</h5>
              <p class="card-text">Get Notes And video Lecture click on the Get Details button</p>
              <a href="#" class="btn btn-primary">Get Details</a>
            </div>
          </div>
        </div>
      </div>
    </div>
 





  