<div class="container my-2  ">
    <div class="row d-flex  justify-content-end">
        
        <div class="col-6  my-auto ">
            
                <div class="input-group ">
                    <input class="form-control" [(ngModel)]="searchQuery"  type="text" placeholder="Search user..." id="searchInput" area-label="searchInput">
                    <div class="input-group-append">

                        <app-my-buttons button="Search"></app-my-buttons>

                    </div>
                </div>
           
            
        </div>
    </div>
</div>




















<table class="table table-striped text-center  ">
        <thead class="table-dark ">
            <tr>
                <th>ID.No.</th>
                <th>User Name</th>
                <th>Contact</th>
                <th>Qualification</th>
                <th>Update User</th>
                <th>Delete User</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of studentData|filterUsers:searchQuery" >
                <td >{{user.user_id}}</td>
                <td class="text-start">{{user.first_name}} {{user.last_name}}</td>
                <td>{{user.contact}}</td>
                <td>{{user.qualification}}</td>
                <td><button class="btn btn-secondary" [routerLink]="['../update','user_id']">Update</button></td>
                <td><button class="btn btn-danger " >Delete</button></td>
            </tr>
             <!-- (click)="deleteUser(UserData.user_id)"  -->


        </tbody>
    </table> 